@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #FAFAFA;
  font-family: "poppins";
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 100vw;
  max-width: 932px;
  justify-content: center;
  justify-content: space-between;
  padding: 110px 20px;

}
h1 {
  font-family: "PT Serif";
  font-size: 36px;
  letter-spacing: -0.045em;
}
h2{
  font-size: 18px;
  margin-bottom: 10px;
}
.descript {
  width: 439px;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 67px;
  max-width: 1000px;
  margin:0 40px 100px 40px;
}
img {
  width: 237px;
  margin:0 10px 15px 0;
}
.member {
  display: flex;
  flex-direction: row-reverse;
}
.job {
  writing-mode: vertical-lr;
}

@media screen and (max-width:799px) {
  header {
    flex-direction: column;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main {
    margin:0 20px 100px 20px;
    gap:25px;
    min-width: 378px;
  }
  h1 {
    margin-bottom: 40px;
    }
  img{
    width: 139px;
  }

}
